# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# env dir
.env

# test files for input/output
.testfile

# PyCharm
.idea

# Visual Studio
.vs
*.user
*.vcxproj
Debug
*.sln

# CUDA
*.deps
*.cache
*.recipe

# Logging
*.log
*.tlog

# Databases
*.pdb

# ???
*.exp

_*.*